<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header class="banner">
    {{!-- nav bar --}}
    <ul class="nav">
        <li class="nav-buttons"><a href="/">Home</a></li>
        <li class="nav-buttons"><a href="/dashboard">Dashboard</a></li>
        {{#if logged_in }}
        <li class="nav-buttons"><a href="/logout"></a>Logout</li>
        {{else}}
        <li class="nav-buttons"><a href="/login"></a>Login</li>
        {{/if}}
    </ul>
    </header>
    
    {{{body}}}
    
</body>
</html>