<section>
    <a href='/dashboard' class='justify-content-end'>&larr; back to dashboard</a>
    <h2 class='title'>create a new post</h2>
    <hr>

    <form class='new-post-form'>

        <div>
            <label for="post-title">Title:</label>
            <input class='input' type='text' id='post-title' name='post-title' placeholder='insert post title here' />
        </div>

        <div>
            <label for='post-content'>content:</label>
            {{!-- may not need the input tag with bootstrap-4 textarea --}}
            {{!-- <input id='post-content' name='post-content' placeholder='insert post content here' /> --}}
            <textarea class='form-control rounded-3 z-depth-1' name='post-content' id='post-content' rows='10' placeholder='insert post content here'></textarea>
         </div>
         <button type='submit' class='btn btn-primary justify-content-end'>create post</button>
    </form>
</section>

<script src='../public/js/create-post.js'></script>