<div class='mb-5 pt-3'>
    <a href="/create-post"><button class='btn btn-primary justify-content-end' id='create-post'>create a
            post</button></a>
    <h2 class='title pb-4'>Dashboard: Your Posts</h2>
</div>
<div>
{{#each posts as |post|}}
    <article>
        <h1>{{post.title}}</h1>
        <h4>posted at {{post.createdAt}}</h4>

        <p>{{post.content}}</p>
    </article>
{{/each}}
</div>