header {
    height: 5rem;
    border-bottom: 0.3rem solid blueviolet;
    
}

.nav {
    list-style-type: none;
    display: flex;
    flex: auto;
    width: 100vw;
}

.nav-buttons {
    padding: 0 2rem 0 2rem;
}

.header {
    background-color: aqua;
}

h2 {
   width: 40% ; 
   padding: 0 2rem 0 2rem;
}
.postTitle {
    background-color: darkcyan;
    display: flex;
    flex: auto;
    width: 98vw;
    justify-content: stretch;
    justify-content: flex-end;
}
.creator {
    justify-content: right;
    justify-items: flex-end;
    justify-self: flex-end;
    justify-content: stretch;
}


body {
    width: 95vw;
    align-items: center;
    margin: auto;
}