header {
    height: 5rem;
    border-bottom: 0.3rem solid blueviolet;
    
}

.nav {
    list-style-type: none;
    display: flex;
    flex: auto;
}

.nav-buttons {
    padding: 0 2rem 0 2rem;
}

.header {
    background-color: aqua;
}

h2 {
    background-color: aqua;
}
.postTitle {
    background-color: darkcyan;
}

body {
    
}